body {
    box-sizing: border-box;
}
.string {
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
} 

.rectangle {
    margin-bottom: 50px;
    width: 300px;
    height:  200px;
    background: coral;
}

#result {
    width: 350px;
    margin-bottom: 20px;

}